.vscode
.husky
node_modules
src
test
__tests__
docs
.commitlintrc.js
.dockerignore
.eslintrc.js
.gitattributes
.lintstagedrc.js
.node-version
.prettierrc
.nvmrc
.eslintignore
azure-pipelines.yml
Dockerfile
jest.config.base.js
tsconfig.base.json
tsconfig.json
typedoc.json
pnpm-workspace.yaml
!packages/*/dist/
template
