{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 150,
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "tabWidth": 2
}
